# Carpeta local para datos pesados (git-ignored)
data/

# Variables de entorno
.env

# Carpetas __pycache__ y archivos .pyc
__pycache__/
.pytest_cache/
*.pyc

# Logs
logs/
*.log

# Paquetes
.venv/

*.egg-info/

.vscode/

dist/

**.parquet

htmlcov/*

.coverage.*